:root{

  /**  Отступы  */
  --gap-xl: 20px;
  --gap-l: 15px;

  --padding-block: 20px;
  --padding-inline: 20px;

  /**  Скругления углов  */
  --border-radius-default: 20px;

  /**  Основные цвета */
  --main-color: #e3e3e3;

  /**  Шрифты */
  --font-family-title: "Open Sans";

  /**  Цвета */
  --primary-color: #B88E2F;
  --card-color:#F4F5F7;
  --carddesc-color:#898989;
  --circle-red-color:#E97171;
  --circle-blue-color:#2EC1AC;
  --circle-grey-color: #D8D8D8;
  --white: #FFFFFF;

  /**  SVG для вставки куда мне надо */

}