body{
  main{
    p{
      margin: 0;
      font-size: 1.2rem;
    }
    h1, h5{
      margin: 0;
    }
    .filter_shop{
      padding-right: 7%;
      padding-left: 7%;
      padding-bottom: 2%;
      padding-top: 2%;
      margin-bottom: 4%;
      display: flex;
      justify-content: space-between;
      background-color: var(--panel-after-header);
      .filters_shop_left{
        gap: 30px;
        display: flex;
        align-items: center;
        .Showing{
          p{
            width: 250px;
          }
        }
      }
      .filters_shop_right{
        display: flex;
        align-items: center;
        .Short{
          p{
            width: 83px;
          }
        }
        #numbers{
          width: 60px;
          height: 60px;
          display: flex;
          align-items: center;
          text-align: center;
          font-size: 1.2rem;
          border: none;
          margin-left: 3%;
          margin-right: 4%;
        }
        #default{
          width: 180px;
          height: 60px;
          display: flex;
          align-items: center;
          padding-left: 8%;
          font-size: 1.2rem;
          border: none;
          margin-left: 3%;
        }
      }
    }
    .aside_products_shop{
      .all_products{
        margin-right: 7%;
        margin-left: 7%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }
    .nav_products{
      margin-top: 2%;
      margin-bottom: 2%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
    }

  }
}