<button class="button"
        style="border-radius: @@border-radius;
               padding-left: @@padding-x;
               padding-right: @@padding-x;
               padding-top: @@padding-y;
               padding-bottom: @@padding-y;
               background-color: @@bgcolor;
               cursor: pointer;
               border: @@borcolor solid;
               color: @@colortxt;
               font_weight: @@font_w;
               font-size: @@font_size;
        ">
    <span>@@title</span>
</button>
<style>
    .button:hover {
        transform: scale(1.05);
        transition: 0.3s ease;
    }
</style>