<footer>
    <div class="line_footer_top">
        <hr>
    </div>
    <div class="foorniro_footer">
        <div class="footer_left_column">
            <div class="title_footer">
                <h3>Funiro.</h3>
            </div>
            <div class="text_footer_USA">
                <p id="text_grey_footer">400 University Drive Suite 200 Coral Gables,</p>
                <p id="text_grey_footer">FL 33134 USA</p>
            </div>
        </div>
        <div class="footer_center_left_column">
            <ul>
                <p id="text_grey_footer">Links</p>
                <a id="cursor" href="./index.html"><p>Home</p></a>
                <a id="cursor" href="./shop.html"><p>Shop</p></a>
                <p id="cursor">About</p>
                <p id="cursor">Contact</p>
            </ul>
        </div>
        <div class="footer_center_right_column">
            <ul>
                <p id="text_grey_footer">Help</p>
                <p id="cursor">Payment Options</p>
                <p id="cursor">Returns</p>
                <p id="cursor">Privacy Policies</p>
            </ul>
        </div>
        <div class="footer_right_column">
            <p id="text_grey_footer">Newsletter</p>
            <div class="form_footer">
                <form>
                    <input id="email" type="email" placeholder="Enter Your Email Address">
                    <input id="sub" type="submit" value="SUBSCRIBE">
                </form>
            </div>
        </div>
    </div>
    <div class="line_footer_bottom">
        <hr>
        <div class="footnote_footer">
            <p>2023 furino. All rights reverved</p>
        </div>
    </div>
</footer>