<div class="hed">
    <div class="logo_name">
        <div class="logo">
            <img id="logoimg" src="./assets/images/logo.webp" alt="logo">
        </div>
        <div class="name">
            Furniro
        </div>
    </div>
    <div class="navigaciya">
        <div class="knop_nav">
            Home
        </div>
        <div class="knop_nav">
            Shop
        </div>
        <div class="knop_nav">
            About
        </div>
        <div class="knop_nav">
            Contact
        </div>
    </div>
    <div class="dop_inf">
        <div class="dop_inf_knop">
            <img class="dik1" src="./assets/images/panel1.webp" alt="profil">
        </div>
        <div class="dop_inf_knop">
            <img class="dik" src="./assets/images/panel2.webp" alt="poisk">
        </div>
        <div class="dop_inf_knop">
            <img class="dik1" src="./assets/images/panel3.webp" alt="like">
        </div>
        <div class="dop_inf_knop">
            <img class="dik" src="./assets/images/panel4.webp" alt="korzina">
        </div>
    </div>
</div>