// ==== 1. Utils ====
@use 'utils/variables';

// ==== 2. Base styles ====
@use 'base/reset';
@use 'base/typography';
@use 'base/layout';

// ==== 3. Layout ====
@use 'layout/container';

// ==== 4. Components ====
@use 'components/button';
@use 'components/header';
@use 'components/footer';
@use 'components/card';

// ==== 5. Pages ====
@use 'pages/first_pages.scss';
@use 'pages/shop.scss';


body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Poppins", "sans-serif";
}